<!DOCTYPE html>
<html>

	<head>
			<meta charset="utf-8">
			<title>Project</title>
			<h1>Project</h1>
		</head>

	<body>
		<p>{{pageTitle}}</p>

		<p>
			This site is Project page.
		</p>

		{{> footer}}
	</body>

</html>